{% extends nglayouts.layoutTemplate %}

{% block body %}
    <ul>
        {% for screencast in screencasts %}
            <li>{{ screencast.title }}</li>
        {% endfor %}
    </ul>
{% endblock %}
